html, body {
	background-color: #222222;
}

#sb-site {
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Shadow cast onto the slidebars when opened. */
	padding: 80px 0 0px 0;
}

#adverts {
	margin-top: 20px;
}

.advert {
	border-radius: 3px;
	border: 1px solid #727272;
	margin-bottom: 10px;
	padding: 3px;
}

.navbar {
    background-color: 
        background: rgb(206,206,206); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(95,95,95,1) 73%, rgba(168,168,168,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(73%,rgba(95,95,95,1)), color-stop(100%,rgba(168,168,168,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(95,95,95,1) 73%,rgba(168,168,168,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(95,95,95,1) 73%,rgba(168,168,168,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(95,95,95,1) 73%,rgba(168,168,168,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(95,95,95,1) 73%,rgba(168,168,168,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */

	background-size: 100%;
	background-repeat: no-repeat;
	
	/* Bootstrap Changes */
	border: none;
	width: 100%;
	left: auto;
	right: auto;
}

.sb-android .navbar {
	position: absolute;
}

#logo {
	margin-top: 4px;
	text-align: center;
}

#top-arrow {
	padding-top: 17px;
	padding-bottom: 13px;
}

.navbar .sb-toggle-left {
	width: 58px;
	float: left;
	padding: 14px;
}

.navbar .sb-toggle-right {
	width: 58px;
	float: right;
	padding: 14px;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.sb-right {
	margin-top: 50px;
}

.navicon-line {
	width: 24px;
	height: 4px;
	border-radius: 1px;
	margin-bottom: 3px;
	background-color: #fff;
}

ul.navbar-nav {
	display: none;
}

footer {
	margin-top: 30px;
}

/* Slidebars */

.sb-slidebar {
	background-color: #f1f1f1;
}

/* Left */


.sb-menu li .sb-open-right, .sb-menu li small {
	display: inline-block;
	padding: 14px;
}

.sb-menu li img {
	margin: 14px;
}

/* Right */
aside#about-me {
	padding: 14px 14px 14px 14px;
}

img.img-me {
	margin: 14px auto;
	border: 4px solid #fff;
}

/* Slidebar Type */

.sb-slidebar, .sb-slidebar h3 {
	color: black;
}

.sb-slidebar ul.sb-nav li a {
	color: #DEDEDE;
}

.sb-slidebar ul.sb-nav li a:hover {
	color: #C7C7C7;
	text-decoration: none;
}

.sb-slidebar ul.sb-nav li span:hover {
	color: #C7C7C7;
}

/* Anchor Links */
#download, #api, #options, #helper-classes {
	margin-top: -50px;
	padding-top: 50px;
}

/* Helper Classes */
.add-bottom-margin {
	margin-bottom: 15px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.add-top-margin {
	margin-top: 15px;
}

.no-top-margin {
	margin-top: 0;
}

.push-down {
	position: relative;
	top: 2px;
}

@media (min-width: 768px) {
	ul.navbar-nav {
		display: block;
	}
	
	#logo {
		text-align: left;
	}
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


.col-sm-9 {
    width: 100%;}
p {
    color: black;
}


.easyhtml5video {
    background-image:url(../img/main%20photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 250px;
    padding-bottom: 300px;
    

    
    
}

.monitor {
    height: 100%;
    padding-top: 30px;
    padding-left: 70px;
    padding-bottom: 100px
    
}

.vimeo1 {
    background-image: url(../img/main%20photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;  
    padding-left: 50px;
    padding-bottom: 200px;
        
        
}

footer {
    text-align: center;
}
        
        